<!DOCTYPE html>
<html>
	<head>
		<title>Student Management System</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
			crossorigin="anonymous">
	</head>
	
		<div class="container">
			<div class="row">
			<div class="col-lg-6 container justify-content-center card border-primary" style="opacity: 0.90; margin-top:7%">
				
					<h1 class="text-center">Add new Student</h1>
					<div class="card-body">
						<form action="" method="POST">
							<div class="form-group">
								<label>Student Name:</label>
								<input type="text"
									name="name"
									class="form-control"
									placeholder="Enter student Name"
									required/>
							</div>
							<div class="form-group">
								<label>Student address:</label>
								<input type="text"
									name="address"
									class="form-control"
									placeholder="Enter student address"
									required/>
							</div>
							<div class="form-group">
								<label>Student marks:</label>
								<input type="number"
									name="marks"
									class="form-control"
									placeholder="Enter marks"
									required/>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>