<!DOCTYPE html>
<html>
	<head>
		<title>Student Management System</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
			crossorigin="anonymous">
	</head>
	<body>
		<div class="container card p-3 mt-3 border-primary" style="opacity: 0.90;">
			
		<h3 class="text-center"> List Students</h3>
		
			<table class="table table-striped mt-1 text-center table-bordered">
				<thead class="table-dark" style="background-color:RebeccaPurple">
					<tr>
						<th> Student Id</th>
						<th> Student Name</th>
						<th> Address</th>
						<th> Marks</th>
                        <th> Actions</th>
					</tr>
				</thead>
				<tbody>
                    {% for row in result %}
					<tr>
						<td>{{ row["id"] }}</td>
						<td>{{ row["name"] }}</td>
						<td>{{ row["address"] }}</td>
						<td>{{ row["marks"] }}</td>
						
                        <td>
							<a href="update_student/{{row['id']}}" class="btn btn-primary" method="GET" style="background-color:DarkOrange;">Update</a>
							<a href="delete_student/{{row['id']}}" class="btn btn-primary" method="DELETE"style="background-color:Red;">Delete</a>
                        </td>
							
					</tr>
                    {% endfor %}
					
				</tbody>
			</table>
            <div>
                <h3><a href = "/">Click here to return on home page</a></h3>
            </div>
		</div>
	</body>
	


</html>