<!DOCTYPE html>
<html>
	<head>
		<title>Student Management System</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
			crossorigin="anonymous">
	</head>
	<body>
        <h1 class="text-center">Welcome to student management system</h1>
        <div class="container">
            <div class="justify-content-center card border-primary col-lg-6 container">
                <h3>Your data added successfully</h3>
                <div>
                    <h3><a href = "/">Click here to return on home page</a></h3>
                </div>
                <br>
                
            </div>
        </div>
	</body>
</html>